html, body{
  font-family: 'Montserrat', sans-serif;
  font-size: 10pt;
  margin: 0;
  padding: 0;
  background: #e5e5e5;
}

body{
    min-width:526px;
}

*:focus {
    outline-color: #0054A6;
}

.selecttabs{
    margin: 0;
    padding: 0;
    text-align: left;
    border: 0;
}

.tab{
    display: none;
    padding: 12px;
    margin: 0;
    background-color: #1d1d1d;
    color: #e5e5e5;
    cursor: pointer;
    border: 0;
    border-radius: 2px 12px 0 0;
    border-top: 2px #1d1d1d solid;
    border-right: 2px #1d1d1d solid;
    box-shadow: -1px -2px 2px rgba(0,0,0,0.2);
}


.activeinline{
    display: inline-block;
}

.selectedtab{
    background-color: #e5e5e5;
    color: #0054A6;
    border-top: 2px #0054A6 solid;
    border-right: 2px #0054A6 solid;
}

.quoteselect{
    display: block;
    margin: 10px 0 0 0;
    padding: 0;
    width: 100%;
    background: rgb(229,229,229);
background: linear-gradient(0deg, rgba(229,229,229,1) 4%, rgba(218,218,218,1) 4%);
}

.quoteselect tr{
    white-space: nowrap;
}

.quoteselect td{
    margin: 0;
}

#logtable{
    display: block;
    text-align: left;
    font-size: 10px;
    border-collapse: collapse;
    margin: auto;
}

#logarea{
    background-color: #e5e5e5;
    width: 95%;
    height: 65%;
    margin: auto;
    overflow: auto;
}

.tableclose{
    font-size: 25px;
    font-weight: bolder;
    width: 35px;
    color: #131313;
    padding: 0px;
    text-align: center;
    cursor: pointer;
}

.addbtn{
    text-align: center;
    margin: auto;
    width: 23px;
    height: 23px;
    font-size: 20px;
    font-weight: bold;
}

.loader {
  border: 8px solid rgb(0,0,0,0.75);
  border-radius: 56px;
  border-top: 8px solid #0054A6;
  width: 56px;
  height: 56px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -28px;
  margin-left: -28px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.drawer{

    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    padding-top: 65px;
    background-color: #1d1d1d;
    box-shadow: 2px 0px 10px #000;

}

.drawercontents{
    height: 100vh;
    overflow-y: auto;
}

.hidden{
    display: none;
}

.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #1d1d1d;
    color: #0054A6;
}

.splashimg{
    height: 85px;
}

.splashh2{

    margin: 0px;
}

.overlay{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: none;
}

.closebtn{
  float: right;
  padding: 10px;
  font-size: 50px;
  color: #fff;
  cursor: pointer;
}

.oltitle{
  margin-top: 70px;
  color: #e5e5e5;
}

.previewnote{
  width: 85%;
  height: 65%;
  resize: none;
  overflow: auto;
}

.olmenu{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

#about{
    padding: 10px;
    text-align: left;
    background-color: #e5e5e5;
    width: 85%;
    height: 65%;
    margin: auto;
    overflow: auto;
}

#changelog{
    font-family: courier, monospace;
    margin: auto;
    overflow: auto;
}

.required{
  font-weight: bold;
  color: #00a32e;
}

.navbar{
  width: 100%;
  height: 65px;
  background-color: #1d1d1d;
  vertical-align: middle;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 4px black;
  white-space: nowrap;
}

.icon{
  height: 65px;
  float: left;
}

.menuicon{
  display: block;
  height: 33px;
  padding: 16px;
  margin-left: -20px;
  float: left;
  cursor: pointer;
  transition: margin-left 0.5s;
  -webkit-transition: margin-left 0.5s;
}

.drawerlink{
    display: block;
    padding: 15px;
    padding-left: 30px;
    cursor: pointer;
    color: #dadada;
    font-size: 16px;
    text-decoration: none;
}

.drawerlink:hover{
    background-color: #202020;
}

.drawerlink:active{
    background-color: #131313;
    color: rgb(0, 94, 189);
}

.menuiconopen{
    margin-left: -30px;
    transition: margin-left 0.5s;
    -webkit-transition: margin-left 0.5s;
}

.qsicon{
  height: 45px;
  float: right;
  padding: 10px;
  cursor: pointer;
}

.title{
  font-weight: bold;
  font-size: 13pt;
  display: inline-block;
  height: 65px;
  line-height: 65px;
  color: #0054A6;
}

.content{
  margin-top: 65px;
}

#customerinfo{
  padding: 10px;
  background-color: #e5e5e5;
}

.filter{
    background-color: #dadada;
}

.filterbtn{
    display: block;
    background-color: #1d1d1d;
    color: #e5e5e5;
    padding: 10px;
    margin: 0 5px 0 5px;
    cursor: pointer;
    border-radius: 5px;
    width: 350px;
}

.filterbtn:hover{
    background-color: #202020;
}

.filterbtn:active{
    background-color: #131313;
    color: #0054A6;
}

.filteractive{
    border-radius: 5px 5px 0 0;
}

.filterbtn:after{
    content: "\0fe40";
    float: right;
    font-weight: bolder;
}

.filteractive:after{
    content: "\0fe3f";
}

#quotefilter{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: none;
    color: #e5e5e5;
    cursor: pointer;
    width: 380px;
}

#quotefilter li{
    list-style-type: none;
    margin: 0 5px 0 5px;
    padding: 10px;
    background-color: #3b3b3b;
}

#quotefilter label{
    display: block;
    width: 100%;
    cursor: pointer;
}

#quotefilter li:hover{
    background-color: #2e2e2e;
}

.note{
  display: none;
  background-color: #e5e5e5;
}

.active{
  display: block;
  width: 100%;
}

.preactive{
    position: absolute;
    display: inline-block;
    width: 100vw;
}

#freeform{
  display: block;
  width: 85%;
  height: 200px;
  padding: 2px;
  margin: 10px;
}

.menu{
  padding: 5px;
  margin: auto;
  background-color: #d4d4d4;
}

.btn{
  display: inline-block;
  padding: 15px;
  margin: 5px;
  background-color: #0054A6;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
}


.btn:hover{
  background-color: #004395;
}

textarea, input{
  font-family: 'Roboto', sans-serif;
  padding: 4px;
}

textarea{
    min-height: 75px;
}

table{
    padding: 10px;
}

td{
    min-width: 50px;
}

.note h2,.note h3{
    padding: 2px;
    padding-left: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3b3b3b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0054A6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #004395;
}

#hiddensnake{
    display: none;
    width: 100%;
    height: 600px;
    text-align: center;
    margin: auto;
    border: none;
    overflow: hidden;
}